<h2 class="center-title">This is the user route</h2>
<h3 class="center-title">You can visit the index route at /users</h3>
<h3 class="center-title">or visit by a particular user at /users/:id</h3>

<section class="container">
  {{outlet}}
</section>
